<section class="layout">
  <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams">
  </particles>
  <div class="container">
    <h2>Layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare molestie odio id sodales. Etiam risus neque,
      euismod nec sem non, luctus vestibulum orci. Duis convallis lorem ut est ultricies, ac pulvinar ipsum aliquet.
      Vestibulum et dui porttitor, tincidunt nisl vitae, malesuada justo. Integer luctus quam non lectus dignissim, nec
      faucibus arcu facilisis. Morbi vitae enim justo. Quisque scelerisque augue nunc, vel condimentum augue viverra ac.
      Sed pellentesque tempor libero, in aliquet ligula pulvinar ultricies. Vivamus feugiat viverra arcu, in commodo
      nunc finibus a. Donec ac varius ligula. Ut mattis commodo leo et pulvinar. Curabitur interdum non massa sit amet
      egestas. Vestibulum quis urna luctus, luctus mauris ultricies, efficitur nibh.</p>
    <p>Proin eu maximus lorem, vitae luctus eros. Aliquam quis commodo odio. Praesent sit amet commodo eros, quis
      volutpat lacus. Suspendisse ex purus, faucibus vitae pulvinar ac, euismod et est. Nulla at tellus vel mi hendrerit
      euismod. Etiam consectetur enim lorem, sit amet fermentum nulla euismod in. Aliquam erat volutpat.</p>
    <p>Quisque quis tincidunt erat, vel molestie odio. Integer nisi nisl, ultricies in urna in, semper imperdiet nibh.
      Suspendisse facilisis consequat volutpat. Sed vehicula felis viverra sapien venenatis euismod. Pellentesque
      tincidunt tortor nibh. Ut vehicula tortor sed iaculis iaculis. Donec gravida sodales facilisis. Nunc molestie
      magna et augue condimentum sollicitudin a id arcu. Integer pulvinar nulla pharetra, consequat diam a, egestas
      augue. Phasellus nec nibh ac turpis pulvinar dignissim eget eu urna. Quisque nec eros magna. Mauris id odio
      egestas, maximus mi sed, lacinia dui. Phasellus in nunc ex. Proin pharetra leo vitae metus suscipit, vitae cursus
      nunc efficitur. Vestibulum at lectus in sem dictum iaculis eu finibus dolor. Donec sed imperdiet ex.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare molestie odio id sodales. Etiam risus neque,
      euismod nec sem non, luctus vestibulum orci. Duis convallis lorem ut est ultricies, ac pulvinar ipsum aliquet.
      Vestibulum et dui porttitor, tincidunt nisl vitae, malesuada justo. Integer luctus quam non lectus dignissim, nec
      faucibus arcu facilisis. Morbi vitae enim justo. Quisque scelerisque augue nunc, vel condimentum augue viverra ac.
      Sed pellentesque tempor libero, in aliquet ligula pulvinar ultricies. Vivamus feugiat viverra arcu, in commodo
      nunc finibus a. Donec ac varius ligula. Ut mattis commodo leo et pulvinar. Curabitur interdum non massa sit amet
      egestas. Vestibulum quis urna luctus, luctus mauris ultricies, efficitur nibh.</p>
    <p>Proin eu maximus lorem, vitae luctus eros. Aliquam quis commodo odio. Praesent sit amet commodo eros, quis
      volutpat lacus. Suspendisse ex purus, faucibus vitae pulvinar ac, euismod et est. Nulla at tellus vel mi hendrerit
      euismod. Etiam consectetur enim lorem, sit amet fermentum nulla euismod in. Aliquam erat volutpat.</p>
    <p>Quisque quis tincidunt erat, vel molestie odio. Integer nisi nisl, ultricies in urna in, semper imperdiet nibh.
      Suspendisse facilisis consequat volutpat. Sed vehicula felis viverra sapien venenatis euismod. Pellentesque
      tincidunt tortor nibh. Ut vehicula tortor sed iaculis iaculis. Donec gravida sodales facilisis. Nunc molestie
      magna et augue condimentum sollicitudin a id arcu. Integer pulvinar nulla pharetra, consequat diam a, egestas
      augue. Phasellus nec nibh ac turpis pulvinar dignissim eget eu urna. Quisque nec eros magna. Mauris id odio
      egestas, maximus mi sed, lacinia dui. Phasellus in nunc ex. Proin pharetra leo vitae metus suscipit, vitae cursus
      nunc efficitur. Vestibulum at lectus in sem dictum iaculis eu finibus dolor. Donec sed imperdiet ex.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare molestie odio id sodales. Etiam risus neque,
      euismod nec sem non, luctus vestibulum orci. Duis convallis lorem ut est ultricies, ac pulvinar ipsum aliquet.
      Vestibulum et dui porttitor, tincidunt nisl vitae, malesuada justo. Integer luctus quam non lectus dignissim, nec
      faucibus arcu facilisis. Morbi vitae enim justo. Quisque scelerisque augue nunc, vel condimentum augue viverra ac.
      Sed pellentesque tempor libero, in aliquet ligula pulvinar ultricies. Vivamus feugiat viverra arcu, in commodo
      nunc finibus a. Donec ac varius ligula. Ut mattis commodo leo et pulvinar. Curabitur interdum non massa sit amet
      egestas. Vestibulum quis urna luctus, luctus mauris ultricies, efficitur nibh.</p>
    <p>Proin eu maximus lorem, vitae luctus eros. Aliquam quis commodo odio. Praesent sit amet commodo eros, quis
      volutpat lacus. Suspendisse ex purus, faucibus vitae pulvinar ac, euismod et est. Nulla at tellus vel mi hendrerit
      euismod. Etiam consectetur enim lorem, sit amet fermentum nulla euismod in. Aliquam erat volutpat.</p>
    <p>Quisque quis tincidunt erat, vel molestie odio. Integer nisi nisl, ultricies in urna in, semper imperdiet nibh.
      Suspendisse facilisis consequat volutpat. Sed vehicula felis viverra sapien venenatis euismod. Pellentesque
      tincidunt tortor nibh. Ut vehicula tortor sed iaculis iaculis. Donec gravida sodales facilisis. Nunc molestie
      magna et augue condimentum sollicitudin a id arcu. Integer pulvinar nulla pharetra, consequat diam a, egestas
      augue. Phasellus nec nibh ac turpis pulvinar dignissim eget eu urna. Quisque nec eros magna. Mauris id odio
      egestas, maximus mi sed, lacinia dui. Phasellus in nunc ex. Proin pharetra leo vitae metus suscipit, vitae cursus
      nunc efficitur. Vestibulum at lectus in sem dictum iaculis eu finibus dolor. Donec sed imperdiet ex.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare molestie odio id sodales. Etiam risus neque,
      euismod nec sem non, luctus vestibulum orci. Duis convallis lorem ut est ultricies, ac pulvinar ipsum aliquet.
      Vestibulum et dui porttitor, tincidunt nisl vitae, malesuada justo. Integer luctus quam non lectus dignissim, nec
      faucibus arcu facilisis. Morbi vitae enim justo. Quisque scelerisque augue nunc, vel condimentum augue viverra ac.
      Sed pellentesque tempor libero, in aliquet ligula pulvinar ultricies. Vivamus feugiat viverra arcu, in commodo
      nunc finibus a. Donec ac varius ligula. Ut mattis commodo leo et pulvinar. Curabitur interdum non massa sit amet
      egestas. Vestibulum quis urna luctus, luctus mauris ultricies, efficitur nibh.</p>
    <p>Proin eu maximus lorem, vitae luctus eros. Aliquam quis commodo odio. Praesent sit amet commodo eros, quis
      volutpat lacus. Suspendisse ex purus, faucibus vitae pulvinar ac, euismod et est. Nulla at tellus vel mi hendrerit
      euismod. Etiam consectetur enim lorem, sit amet fermentum nulla euismod in. Aliquam erat volutpat.</p>
    <p>Quisque quis tincidunt erat, vel molestie odio. Integer nisi nisl, ultricies in urna in, semper imperdiet nibh.
      Suspendisse facilisis consequat volutpat. Sed vehicula felis viverra sapien venenatis euismod. Pellentesque
      tincidunt tortor nibh. Ut vehicula tortor sed iaculis iaculis. Donec gravida sodales facilisis. Nunc molestie
      magna et augue condimentum sollicitudin a id arcu. Integer pulvinar nulla pharetra, consequat diam a, egestas
      augue. Phasellus nec nibh ac turpis pulvinar dignissim eget eu urna. Quisque nec eros magna. Mauris id odio
      egestas, maximus mi sed, lacinia dui. Phasellus in nunc ex. Proin pharetra leo vitae metus suscipit, vitae cursus
      nunc efficitur. Vestibulum at lectus in sem dictum iaculis eu finibus dolor. Donec sed imperdiet ex.</p>
  </div>
</section>
